<p id="notice"><%= notice %></p>
<div class="main">
  <div class="centering">
    <div class="panel panel-primary" style="width: 100%; margin: auto;">
      <div class="panel-heading" style="text-align: center;">黒歴史一覧</div>
      <!-- Table -->
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th style="text-align: center;">名言</th>
              <th style="text-align: center;">元ネタ</th>
              <th style="text-align: center;">日付</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @histories.each do |history| %>
              <tr>
                <td><%= history.word %></td>
                <td><%= history.name %></td>
                <td><%= history.date %></td>
                <td><%= link_to 'Show', history, class: "btn btn-primary btn-xs" %></td>
                <td><%= link_to 'Edit', edit_history_path(history), class: "btn btn-success btn-xs" %></td>
                <td><%= link_to 'Destroy', history, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div><!--/panel-->
    <br>
    <div style="text-align: center;">
      <%= link_to 'New History', new_history_path %>
    </div>
  </div>
</div>
